* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-size: 100%;
}

p, span, strong, table, tr, td, h1, h2, h3, h4, h5, h6, i, a {
    text-decoration: none;
    letter-spacing: normal;
    line-height: 1.5;
    color: rgba(0, 0, 0, .9);
    margin: 0;
    padding: 0;
}

.info {
    display: block;
    padding: 0.6rem;
    background-color: rgba(0, 0, 0, .1);
    font-size: 0.78rem;
}
